 .bannierecategorie{
    position: relative;
 }
 
 .imagefond {

 opacity: 50%;
 

}

.listecategorie{
    position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
}

.Tendances {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.Nouveautes {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.Tendances article{

}

article a{
    
    text-decoration: none;
}
article p{
    color: white;
}

