.logo img {
    margin-top: 2px; width: 100px; height: 100px; opacity: 0.6;
}
header {
    background-color: black;
     opacity: 0.9;
     width: 100%;
  }

hr {
    color:rgb(255, 8, 0); height: 2px; border: solid 1px #e41515;
}
button .search-bar {
    border: 5px solid transparent ; border-radius: 10px; padding: 10px;
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px; 
  }
  
  .Liste-genre,
  .Liste-artiste {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; /* Alignement à gauche */
    background-color: rgb(231, 61, 61); 
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .Liste:hover .Liste-genre,
  .Liste:hover .Liste-artiste {
    display: block;
  }
   
main {width: 80%;max-height: 1000;}
p {
    text-align: center;
    }
h1,h2,h3 {
    text-align: center;
}
h1:hover{
    background-color: gray; color: greenyellow; transition: 1s;
  }

  .Connexion {
    display: flex;
    justify-content: space-between;

  }
  .Connexion h1{
    color: #0dcaf0;
    align-self: center;
    font-family: fantasy;
    font-style: italic;
    font-variant: small-caps;
    font-size: xxx-large;
  }
  
  .Connexion button {
  
    background-color: red;
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 120px;
  }
  
  .Connexion button:hover {
    color: yellow;
  }
  
  .logo {
    filter: invert(100%);
    
  }

  .barre-de-nav nav{
    background: radial-gradient(circle, rgb(63, 207, 220) 60%,rgb(255 143 19) 100%) !important;
  }

/* LECTEUR ////////////////////////////////////////////////////////*/
<!--do not mess with this you will messs it up-->
*:focus {
  outline: none;
}

body {
  font-family: Helvetica, Arial;
  margin: 0;
  background: rgb(47, 45, 149);
  background: radial-gradient(circle, rgba(47, 45, 149, 1) 60%, rgb(0, 0, 0) 100%);
}
#app-cover {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 430px;
  height: 100px;
  margin: -4px auto;
}

#bg-artwork {
  position: static;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-image: url("../images/Logo.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 1;
}

#bg-layer {
  position: sticky ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: #440b0b00; */
  opacity: 0.51;
  z-index: 2;
}

#player {
  position: relative;
  height: 100%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  padding: 13px 22px 10px 184px;
  background-color: #cac8d6;
  border-radius: 15px 15px 0 0;
  transition: 0.3s ease top;
  z-index: 1;
}

#player-track.active {
  top: -92px;
}

#album-name {
  color: #54576f;
  font-size: 17px;
  font-weight: bold;
}

#track-name {
  color: #171f5a;
  font-size: 13px;
  margin: 2px 0 13px 0;
}

#track-time {
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 11px;
  background-color: #ffe8ee;
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #f86d92;
  background-color: transparent;
}

#s-area,
#seek-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area {
  background-color: #ffe8ee;
  cursor: pointer;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fd6d94;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: rgb(16, 82, 82);
  box-shadow: 0 30px 80px #656565;
  border-radius: 15px;
  z-index: 2;
}

#album-art {
  position: absolute;
  top: -40px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

#album-art.active {
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 250px;
  height: 100%;
  margin: 0 5px 0 141px;
  float: right;
  overflow: hidden;
}

.control {
  width: 33.333%;
  float: left;
  padding: 12px 0;
}

.button {
  width: 26px;
  height: 26px;
  padding: 0px;
  background-color: #a12f2f;
  border-radius: 6px;
  cursor: pointer;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.button i {
  display: block;
  color: #d6dee7;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.button i {
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #af080817;
}

.button:hover i {
  color: rgb(0, 38, 94), 111;
}
.wave-container {
  width: 300vw;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.6;
  position: absolute;
  top: 60%;
  left: -28%;
  background: #18DFAD;
  width: 100%;
  height: 300vw;
  transform-origin: 50% 49%;
  border-radius: 49%;
  -webkit-animation: drift 3000ms infinite linear;
  animation: drift 8000ms infinite linear;
  will-change: transform;
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: 0.6;
  background: #e1f503;
  top: 60%;
  left: -32%;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0px;
  background: rgb(47, 45, 149);
  background: radial-gradient(circle, rgba(47, 45, 149, 1) 60%, rgb(0, 0, 0) 100%);
  color: whitesmoke;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
}

main { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  margin-top:65px;
  text-align: justify;
  align-items: flex-start;
  width: 100%;

}

p{
  text-align: start;
  
}

h2 {
  text-align: start;
  padding: 10px 0px;
}

h3 {
  text-align: start;
  font-size: 45px;
  text-decoration: underline;
  padding: 10px 0px;
  font-family: 'Rock Salt', cursive;
  
}

br {
  border-color: whitesmoke;
  height: 2px;
}

h4 {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px 0px;
}

h5{
  padding: 10px 0px;
  font-family: 'Lemonada', cursive; 
  color: yellow;
}

.image-titre {
  width: 200px;
  padding: 20px 0px;
}

.lyrics:nth-child(1){
  flex: 1;
  padding-right: 20px;
  padding-left: 25px;
  font-family: 'Merriweather Sans', sans-serif; ;
  font-style: normal;
  font-size: larger;
}


.info-artiste{
  max-width: 450px;
    max-height: 1150px;
    text-align: center;
    padding: 20px;
    border: 20px ridge rgb(247, 247, 14);
    margin-right: 50px;
    margin-top: 200px;
    font-family: monospace;
    font-size: larger;
    margin-left: 110px;
}

.info-plus{
  display: none;
}

.info-artiste button{
  background-color: rgb(200, 200, 37);
  color: whitesmoke;
}